h1 {
    font-size: 40px;
    color:red;
    margin-left: 20px;
    margin-top: 30px;
}
p{
    font-size: 18px;
    font-weight: bold;
}
button {
     margin: 10px 10px 10px 20px;
     padding: 10px;
}
a {
    font-size: 20px;
    color:red;
}